/* GENERAL PAGE STYLING */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

/* NAVIGATION BAR */
.navbar {
    background: #f4c1c1;
    color: #989362;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.active {
    color: rgb(87, 132, 139);
}

/* HOME PAGE */
.home {
    padding: 60px;
    text-align: center;
}

/* ABOUT PAGE */
.about-container {
    margin: 40px;
    display: flex;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-right: 30px;
}

.about-text {
    max-width: 600px;
}

/* SKILLS PAGE */
.skill-container {
    display: flex;
    gap: 20px;
    padding: 30px;
}

.card {
    background: #fff;
    padding: 20px;
    border: 2px solid #ccc;
    width: 30%;
    border-radius: 10px;
    text-align: center;
}

/* CONTACT FORM */
.contact-form {
    width: 50%;
    margin: 40px auto;
    background: rgb(195, 106, 106);
    padding: 20px;
    border-radius: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #6f3d3d;
    border-radius: 5px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background: rgb(154, 146, 146);
    color: rgb(43, 35, 35);
    border: none;
    font-size: 16px;
    cursor: pointer;
}
